<header>
    <nav>
        <ul>
            <li><a href="/"></a>home</li>
            <li><a href="/search"></a>serach</li>
            <li><a href="/mylist"></a>mylist</li>
        </ul>
    </nav>
</header>